name: release
on:
  push:
    branches:
      - main
  
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: Songmu/tagpr@v1
      id: tagpr
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: haya14busa/action-update-semver@v1
      if: steps.tagpr.outputs.tag != ''
      with:
        tag: ${{ steps.tagpr.outputs.tag }}